<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>


<body>
    

    <div class="container">

        <a href="/add-project">Add Project</a>

        <table class="w-[600px] bg-slate-500">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                </tr>
            </thead>

            <tbody>
                <% if(data.length) {
                    for(var i = 0; i< data.length; i++) { %>
                
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].project_title %></td>
                    <td><%= data[i].project_description %></td>
                    <td><%= data[i].project_start_dt %></td>
                    <td><%= data[i].project_due_dt %></td>
                    <td>
                        <a href="/projects/edit/<%= data[i].id %>"><button><i class="fa-solid fa-pencil"></i></button></a>

                        <a href="/project_details/<%= data[i].id %>"><button><i class="fa-solid fa-book"></i></button></a>  
                          
                        <a href="/projects/delete/<%= data[i].id %>"><button><i class="fa-solid fa-trash-can"></i></button></a>    
                    </td>
                </tr>

                    <% }
                }else{ %>
                <tr>
                    <td>No Records</td>
                </tr>
            <% } %>             
            </tbody>

        </table>
    </div>


        
</body>
</html>